@model IEnumerable<AplikacjaKulinarna.Models.UserIngredient>

@{
    ViewData["Title"] = "Moje Składniki";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Nowy Składnik</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Składnik</th>
            <th>Ilość w gramach </th>
            <th>Cena za</th>
            <th>Jednostkę</th>
            <th>Kategoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ingredient.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Ingredient.Price.ToString("C")</td>
                <td>@item.Ingredient.WeightUnit</td>
                <td>@item.Ingredient.Category</td>
                <td>
                    <a asp-action="Edit" asp-route-ingredientId="@item.IngredientId">Edytuj</a> |
                    <a asp-action="Details" asp-route-ingredientId="@item.IngredientId">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-ingredientId="@item.IngredientId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
